body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}


/*header*/
.header {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 130px;
    background-color: #666666;

    position: relative;
    z-index: 0;
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;

    z-index: -1;
}

.container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    padding: 28px 15px;
    justify-content: space-between;
}

.logo-link {
    list-style-type: none;
}

.logo__header {
    width: 179px;
    background-repeat: no-repeat;
}

.menu {
    margin: -1px;
    font-size: 13px;
}

.menu_list {
    display: flex;
    padding: 0;
}

.menu__item {
    list-style-type: none;
    text-transform: uppercase;
}

.menu__item{
    margin-right: 36px;
}

.menu__item:hover {
    text-decoration: underline;
}

.menu__link {
    text-decoration: none;
    color: #ffffff;
}

.intro {
    display: flex;
    position: relative;
    margin: 0 auto;
    right: 4px;
}

.intro__title {
    width: 679px;
    margin: 0 auto;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.63;
    font-weight: bold;
}

/* popap */
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4;
    display: none;
}

.popup__container {
    display: flex;
    width: 100%;
    height: 100%;
}

.popup__content {
    margin: auto;
    width: 390px;
    background-color: #fff;
    color: #000000;
    position: relative;
    padding: 54px 30px;
}

.popup__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    font-family: inherit;
    margin-top: 15px;
    margin-bottom: 36px;
}

.popup__title::after {
    content: "";
    display: block;
    border-bottom: 3px solid #b59f5b;
    width: 66px;
    margin: 0 auto;
    margin-top: 14px;
}

.close__popup {
    position: absolute;
    top: -25px;
    right: 0;
    width: 18px;
    height: 18px;
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-popup{
    position: relative;
    margin-top: 52px;
}

.form__group {
    display: block;
}

.field__label {
    font-size: 13px;
    font-weight: 400;
    font-family: inherit;
    display: block;
    margin-top: 33px;
    margin-bottom: 9px;
}

.select {
    font-size: 13px;
    font-weight: 400;
    font-family: inherit;
    color: rgba(0, 0, 0, 0.54);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 18px 14px 20px;
    background-color: #f4f7f6;
    border: none;
    outline: none;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 12px;
}

.list-popup  {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.radio__group {
    display: inline-block;
    font-size: 13px;
}

.radio:checked + .radio__group-text::before {
    background-image: url(../svg/form-circle.svg);
}

.radio__group-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
}

.radio {
    display: none;
}

.radio__group:nth-of-type(n+2) {
    margin-left: 15px;
}

.field {
    width: 100%;
    height: 100%;
    padding: 19px 20px 19px;
    font-size: 14px;
    background: #f4f7f6;
    outline: none;
    border: none;
}

.submit {
    font-size: 14px;
    font-weight: 700;
    font-family: inherit;
    text-transform: uppercase;
    color: #fff;
    padding: 19px 122px;
    width: 100%;
    background-color: #b59f5b;
    border: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}   


/* trends */

.card {
    background-image: url(../img/trend1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;

    position: relative;
    z-index: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.card.trend2 {
    background-image: url(../img/trend2.jpg);
}

.card.trend3 {
    background-image: url(../img/trend3.jpg); 
}

.card.trend4 {
    background-image: url(../img/trend4.jpg);
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;

    z-index: -1;  
}

.frame-card__description {
    display: flex;
    border: 3px solid #b59f5b;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 90%;
     margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 36px;
}

.title-post__link.item {
    color: #ffffff;
    white-space: normal;
}




/*container-basic*/


.container-basic {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 63px;
}

.main {
    max-width: 780px;
    flex-direction: column;

}

.post-list {
        margin-bottom: 55px;
    vertical-align: top;
}


.frame {
    padding: 0;
    flex-direction: column;
    width: 100%;
}

.category {
    display: flex;
    padding-left: 0;
    margin: 0px;
}

.categoty__item {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.categoty__link {
    text-decoration: none;
    color: #b59f5b;
    padding-right: 19px;
}

.categoty__item:hover {
    text-decoration: underline;
}

.title {
    box-sizing: border-box;
}

.title-post {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.3;
    white-space: nowrap;
    margin: 0;
}

.title-post__link {
    text-decoration: none;
    color: #000000;
}


.data-author {
    display: inline-block;
    margin-top: 23px;
}

.time {
    font-size: 12px;
    color: #888888;
    display: flex;
    display: inline-block;
}

.author {
    margin-left: 15px;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    display: inline-block;
}

.text {
    margin-top: 43px;
    font-size: 15px;
}

.text__post {
    margin-top: 0;
    line-height: 1.51;
}

/*aside*/

.aside {
    max-width: 272px;
    width: 100%;
    flex-direction: column;

}


.new-title {
    text-transform: uppercase;
    color: #000000;
    margin: -6px auto 0;
}

.new-title__aside {
    padding: 0;
    margin: -5px;
    text-decoration: none;
    color: #0f0d0e;
    font-weight: bold;
    font-size: 14px;
}



.new-title::after {
    content: "";
    display: block;
    width: 67px;
    height: 4px;

    background-color: #e1d9bd;
    margin: 14px auto 0;
}

.new-post-first {
    display: flex;
    margin-top: 26px;
    width: 272px;
    justify-content: space-between;
}

.new-post {
    display: flex;
    margin-top: 16px;
    width: 272px;
    justify-content: space-between;
}

.new-post-list {
    display: flex;
}

.new-picture {
    width: 70px;
    background-color: #f4f7f5;
}

.new-description {
    margin: -2px 19px 0;
    width: 100%;
    height: 100%
}

.new-time {
    font-size: 12px;
    color: #888888;

}

.title-aside {
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}

.title-aside-post {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 0;
    line-height: 1.1;
}

.title-aside-post__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
    font-size: 14px;
}

.form {
    display: flex;
    margin-top: 61px;
}

.label:focus {
    border-bottom: 1px solid #ebe7d8;
}


.input {
    height: 47px;
    background-color: #f3f7f5;
    padding-left: 18px;
    border: none;
    font-size: 13px;
    box-sizing: border-box;
}

.button {
    width: 48px;
    height: 47px;
    border: none;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}


.title-sub {
    text-transform: uppercase;
    color: #000000;
    margin: 0 auto 0;
    text-align: center;
}

.title-sub.subb {
    text-transform: uppercase;
    color: #000000;
    margin: 55px auto 0;
    text-align: center;
}

.title-sub::after {
    content: "";
    display: block;
    width: 67px;
    height: 4px;

    background-color: #e1d9bd;
    margin: 14px auto 0;
}
.form-email.foundation {
    margin-top: 22px;
    flex-direction: column;
    }

.input-email {
    height: 47px;
    width: 100%;
    background-color: #f3f7f5;
    padding-left: 18px;
    border: none;
    font-size: 13px;
    box-sizing: border-box;
}

.button-email {
    margin-top: 18px;
    height: 47px;
    width: 100%;
    background-color: #b59f5b;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

.section-teg {
    display: flex;
    width: 272px;
}

.teg {
    display: flex;
    margin-top: -2px;
}

.teg-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    align-items: baseline;

}

.teg-list__item {
    text-transform: uppercase;
    list-style-type: none;
    color: #0f0d0e;
    font-size: 12px;
    font-weight: bold;
    border: 3px solid #ededed;
    margin: 5px 5px;
    box-sizing: border-box;
}

.teg-list__link {
    text-decoration: none;
    color: inherit;
}

.title-sub.Topics {
    text-transform: uppercase;
    color: #000000;
    margin: 32px auto 0;
    text-align: center;
}


.topics-list {
    flex-direction: column;
    padding: 0;
    margin: 8px;
}

.topics-list__item {
    list-style-type: none;
    border-bottom: 1px solid #ededed;
    padding: 12px 0;
    padding-right: 132px;

}

.topics-list__link {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: bold;
}

.sup {
    color: #b59f5b;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
}

/* store */

.container-store {
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}

.product-card {
    display: flex;
    flex-direction: column;
}


.photo-shop {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product {
    border: 3px solid #b59f5b;
    padding: 20px 20px 24px;
    margin-top: -30px;
    flex-grow: 1;
}

.title-shop__card {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.text-shop__card {
    font-size: 15px;
    margin-top: 4px;
}

.text-card__link {
    text-decoration: none;
    color: #b59f5b;
    padding-right: 19px;
}


.valuable {
    font-weight: bold;
    display: flex;
    margin: 0;
    justify-content:space-between;
    align-items:baseline;
    align-items:flex-end    ;
}

.valuable__number {
    text-decoration: line-through;
    font-size: 14px;
    margin-bottom: 0px;
}

.valuable__number__discount {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.button-email.inshop {
    width: 140px;
    height: 50px;
    margin-top: -20px;
}  

.button-email.inshop:hover {
    background-color:#0f0d0e ;
}

.title-sub.store {
    margin-top: 56px;
    margin-bottom: 36px;
}




/* footer */
.footer {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.container-footer {
    margin: 0 auto;
    background-color: #f3f7f5;
    height: 84px;
    text-align: center;
}

.social-list {
    padding: 0;
    margin-top: 30px;
}

.social-list__item {
    list-style-type: none;
    display: inline-block;
    margin: 0 33px;
}

.social-list__link {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.social-icon-twitter {
    background-image: url(../svg/004-twitter.svg);
}

.social-icon-pinterest {
    background-image: url(../svg/002-pinterest.svg);
}

.social-icon-tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.copyrights {
    display: flex;
    margin: 65px auto;
    font-size: 12px;
    color: #999999;
}


/* BEGIN: header media*/
@media (min-width: 1200px) {
    .container {
        min-width: 100%;
    }
    .header {
        background-image: url(../img/banner-bg.jpg);
    }
    .intro {
        margin-top: 72px;
    }
    .intro__title {
        white-space: nowrap;
        font-size: 45px;
    }
    .menu-butt {
        display: none;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .menu-butt{
        width: 1em;
        height: 1em;
        border: none;
        padding: 0;
        background-color: transparent;
        font-size: 25px;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
    }
    .menu-butt::before {
        top: 0;
    }
    .menu-butt::before, .menu-butt::after {
        content: "";
        width: 100%;
        height: 20%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
    }
    .menu-butt::after {
        bottom: 0;
    }
    .menu-butt::before, .menu-butt::after {
        content: "";
        width: 100%;
        height: 20%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
    }   
    .menu {
        display: none;
    }
    .header {
        background-image: url(../img/banner-bg-tablet.jpg);
    }
    .intro__title {
        white-space: nowrap;
        font-size: 45px;
    }
    .intro {
        margin-top: 72px;
    }
}

@media (max-width: 640px) {
    .header {
        background-image: url(../img/banner-mobile.jpg);
    }
    .menu {
        display: none;
    }
    .menu-butt{
        margin-left: 94%;
        width: 1em;
        height: 1em;
        border: none;
        padding: 0;
        background-color: transparent;
        font-size: 25px;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
    }
    .menu-butt::before {
        top: 0;
    }
    .menu-butt::before, .menu-butt::after {
        content: "";
        width: 100%;
        height: 20%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
    }
    .menu-butt::after {
        bottom: 0;
    }
    .menu-butt::before, .menu-butt::after {
        content: "";
        width: 100%;
        height: 20%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
    }
    .container {
        flex-direction: column-reverse;
    }
    .logo {
        display: flex;
        justify-content: center;
        margin-top: 115px;
    }
    .intro {
        margin-top: 0;
    }
    .intro__title {
        white-space: wrap;
        font-size: 26px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .menu-butt {
        margin-left: 422px;
    }
}
/* END: header media*/

/* BEGIN: popap media */
@media (max-width: 640px) {
    .popup__content {
        max-width: 367px;
        width: 93%;
        margin-top: 28px;
    }
    h2 {
        margin-bottom: 0;
    }
    .form {
        margin-top: 15px;
    }
    .field__label {
        margin-top: 0;
        width: 280px;
    }
    .select {
        width: 80%;
    }
    .submit {
        width: 80%;
    }
}
/* END: popap media */

/* BEGIN: trends media */
@media (min-width: 641px) and (max-width: 1199px) {
    .container-trends {
        width: 100%;
    }
    .box-trends {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
        padding-top: 23px;
    }
    .title-post__link.item {
        font-size: 17px;
    }
    .card {
        max-height: 15em;
        width: 24%;
    }
    .title-sub.description {
        margin-top: 56px;
    }
    .box-trends {
        display: flex;
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
    .card {
        width: 49.7%;
    }
    .card.one {
        margin-right: 4px;
        margin-bottom: 4px;
    }
    .card.trend4{
        margin-left: 4px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    .card {
            width: 24%;
            flex-grow: 1;
    }
    .card.trend2 {
            margin-left: 4px;
            margin-right: 4px;
    }
    .card.trend3 {
        margin-right: 4px;
    }
}

@media (min-width: 1200px) {
    .card.trend2 {
        margin-left: 4px;
        margin-right: 4px;
    }
    .card.trend3 {
        margin-right: 4px;
    }
    .box-trends {
        padding-top: 23px;
        display: flex;
        width: 100%;
    }
    .title-sub.description {
        margin-top: 56px;
    }
    .card {
        width: 25%;
    }
}

@media (max-width: 640px) {
    .title-sub.description {
        margin-bottom: 0px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .box-trends {
        padding-top: 0;
    }
    .new-title__aside.trends {
        font-size: 16px;
    }
    .card {
        width: 100%;
    }
    .card {
        margin-bottom: 4px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .box-trends {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .card.one {
        width: 49%;
    }
    .card.trend2 {
        width: 49%;
    }
    .card.trend3 {
        width: 49%;
    }
    .card.trend4 {
        width: 49%;
    }
    .card {
        width: 24%;
        flex-grow: 1;
    }
    .card.one {
        margin-right: 4px;
        margin-bottom: 4px;
    }
    .card.trend4 {
        margin-left: 4px;
    }
}

/* END: trends media */

/*BEGIN: container-basic media*/
@media (min-width: 1200px) {
    .post-list {
        display: flex;
    }
    .frame {
        margin-left: 30px;      

    }
    .post_image {
        width: 381px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .container-basic {
        max-width: 940px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
    }
    .post-list {
        display: flex;
        flex-wrap: wrap;
    }
    .frame {
        margin: 0;
    }
    .main {
        margin-right: 35px;
    }
    .post-list__picture {
        width: 100%;
        height: 100%;
    }
    .picture-first {
        width: 100%;
        object-fit: cover;
        height: 100%;
    } 
}

@media (max-width: 640px) {
    .container-basic {
        display: inline-block;
        margin-top: 36px;
    }
    .post-list {
        display: inline-block;
        max-width: 290px;
        margin-bottom: 36px;
    }
    .picture-first {
        width: 290px;
    }
    .title-post {
        font-size: 16px;
        margin-top: 25px;
    }
    .text {
        width: 290px;
        margin-top: 22px;
        font-size: 14px;
        border-bottom: 3px solid #eeeeee;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .container-basic {
        text-align: center;
    }
}

/*END: container-basic media*/

/*BEGIN: aside media*/
@media (min-width: 1200px) {
    .input {
        width: 222px;
    }

    .teg-list__item {
        padding: 3px 9px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .input {
        width: 222px;
    }
    .teg-list__item {
        padding: 3px 9px;
    }
}

@media (max-width: 640px) {
    .section {
        max-width: 290px;
    }
    .form {
        width: 290px;
    }
    .label {
        width: 290px;
    }
    .input {
        width: 100%
    }
    .subscribe {
        width: 290px;
    }
    .button-email {
        width: 100%;
    }
    .teg-list__item {
        padding: 3px 3px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .aside {
        margin: 0 auto;
    }
}
/*END: aside media*/

/*BEGIN: store media */
@media (min-width: 1200px){
    .container-store {
        display: flex;
    }
    .product-card {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .new-title__aside.trends {
        font-size: 18px;
    }
    .container-store {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }
    .product-card {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .product-card {
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media (max-width: 640px) {
    .product-card {
        margin-left: 15px;
        margin-right: 15px;
    }
    .shop-item-desk1 {
        width: 15em;
    }
    .product-card {
        margin-top: 10px;
    }
}
/*END: store media */

/* BEGIN: footer media */
@media (min-width: 1200px){
    .container-footer {
        max-width: 1170px;  
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .container-footer {
        max-width: 698px;  
        width: 100%;
    }
}
/* END: footer media */